<h2>Add new task</h2>
<form method="POST" action="/todo">
    <label>
        <p>
            Title:
        </p>
        <p>
            <input type="text" name="name" >
        </p>
    </label>

    </label>
    <p>
        <button type="submint">Save</button>
    </p>
</form>